---
import "../../styles/global.css";
import MainContent from "../../components/MainContent.astro";
import Navigation from "../../components/Navigation.astro";

const pageTitle = "Fællesspisning i Bofællesskabet Væksthuset";
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<MainContent>
			<h1>{pageTitle}</h1>
			<p>
				Vi spiser sammen fire dage om ugen fra mandag til torsdag, og en
				gang om måneden har vi fredagsspisning. Vi spiser i fælleshuset
				eller på græsplænen når vejret er godt. Der er ikke
				fællesspisning i skoleferierne.
			</p>
			<p>
				Fællesspisningen er central i fællesskabet og noget alle som
				udgangspunkt deltager i. Når det er sagt, er det selvfølgelig i
				orden at hente maden og spise den hjemme, når der er brug for
				det, og man kan også frit melde fra spisningen de dage, man
				ønsker det.
			</p>
			<p>
				Der er fire på madhold af gangen, og man er på madhold i 8 af de
				40 uger årligt, hvor der er fællesspisning. Vi spiser billigt og
				fortrinsvist økologisk.
			</p>
		</MainContent>
	</body>
</html>
