html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui;
  color-scheme: light dark;
  color: #111;
  background-color: #fff;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #111;
  }
}
