:root {
  --color-dark: #111;
  --color-light: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui;
  color-scheme: light dark;
  color: var(--color-dark, black);
  background-color: var(--color-light, white);
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light, white);
    background-color: var(--color-dark, black);
  }
}
