---
import "../styles/global.css";
import MainContent from "../components/MainContent.astro";
import Navigation from "../components/Navigation.astro";

const pageTitle = "Kontakt Bofællesskabet Væksthuset";
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<MainContent>
			<h1>{pageTitle}</h1>
			<h2>Interesseliste</h2>
			<p>
				Hvis du er interesseret i at blive kontaktet, når der bliver sat
				en andel til salg i Væksthuset, skal du skrive til
				interesseliste@bf-vaeksthuset.dk.
			</p>
			<p>
				Væksthuset har ikke en venteliste, men i stedet en
				interesseliste. Nye beboere udvælges af bofællesskabet, og
				anciennitet på listen har ingen betydning. At stå på Væksthusets
				interesseliste er helt uforpligtende, og betyder kun, at du får
				besked, når der er en bolig til salg i Væksthuset. Til gengæld
				bliver vi glade, hvis du vil give os besked, hvis du ikke
				længere er interesseret i at stå på listen.
			</p>
			<p>
				Hvis du ønsker at komme på interesselisten, skal du skrive en
				mail til interesseliste@bf-vaeksthuset.dk. Skriv meget gerne et
				par linjer om dig selv og evt. din familie.
			</p>
			<h2>Generel kontakt</h2>
			<p>
				Den nemmeste måde at komme i kontakt med Bofællesskabet
				Væksthuset er ved at kontakte os på e-mail
				kontakt@bf-vaeksthuset.dk
			</p>
			<h2>Væksthusets adresse</h2>
			<div>
				Andelsboligforeningen Væksthuset<br />
				Engskovvej 2<br />
				8541 Skødstrup
			</div>
		</MainContent>
	</body>
</html>
