---

---

<nav>
  <ul>
    <li>
      <a href="/">Forside</a>
    </li>
    <li>
      <a href="/saadan-bor-vi/husene/">Husene</a>
    </li>
    <li>
      <a href="/saadan-bor-vi/faelleshuset/">Fælleshuset</a>
    </li>
    <li>
      <a href="/saadan-bor-vi/udendoers/">Udendørs</a>
    </li>
    <li>
      <a href="/saadan-bor-vi/skoedstrup/">Skødstrup</a>
    </li>
    <li>
      <a href="/faellesskabet/faellesspisning">Fællesspisning</a>
    </li>
    <li>
      <a href="/faellesskabet/opgaver">Opgaver</a>
    </li>
    <li>
      <a href="/faellesskabet/traditioner">Traditioner</a>
    </li>
    <li>
      <a href="/beboere/">Beboere</a>
    </li>
    <li>
      <a href="/historie/">Historie</a>
    </li>
    <li>
      <a href="/kontakt/">Kontakt</a>
    </li>
    <li>
      <a href="/markdown/">Markdown</a>
    </li>
    <li>
      <a href="/mdx/">MDX</a>
    </li>
  </ul>
</nav>

<style>
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
    background-color: #1576c9;
  }

  li {
    list-style-type: none;
    background-image: linear-gradient(#005094, #1576c9);
    flex: 1;
  }

  a {
    display: block;
    padding: 0.5em 1em;
    color: #fff;
    text-decoration: none;

    &:hover {
      /* text-decoration: underline; */
      background-color: #1376c9;
    }
  }

  /* @media (width < 720px) {
    nav {
      flex-direction: column;
    }
  } */
</style>
