---
---

<style>
    nav {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    @media (width < 720px) {
        nav {
            flex-direction: column;
        }
    }
</style>
<nav>
    <a href="/">Forside</a>
    <a href="/saadan-bor-vi/husene/">Husene</a>
    <a href="/saadan-bor-vi/faelleshuset/">Fælleshuset</a>
    <a href="/saadan-bor-vi/udendoers/">Udendørs</a>
    <a href="/saadan-bor-vi/skoedstrup/">Skødstrup</a>
    <a href="/faellesskabet/faellesspisning">Fællesspisning</a>
    <a href="/faellesskabet/opgaver">Opgaver</a>
    <a href="/faellesskabet/traditioner">Traditioner</a>
    <a href="/beboere/">Beboere</a>
    <a href="/historie/">Historie</a>
    <a href="/kontakt/">Kontakt</a>
    <a href="/markdown/">Markdown</a>
    <a href="/mdx/">MDX</a>
</nav>
