---
import DefaultPageLayout from "../../layouts/DefaultPageLayout.astro";
const pageTitle = "Fælleshuset i Bofællesskabet Væksthuset";
---

<DefaultPageLayout title={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>
		Fælleshuset er på ca. 280 kvadratmeter. Fælleshuset rummer et stort
		køkken, spisesal, legerum, gæsteværelse/kontor og tv-stue. I kælderen er
		der vaskeri, depot, værksted, øl/vin/vand-salg, og et musikrum.
	</p>
	<p>
		Fælleshusets primære formål, er at danne ramme om <a
			href="/faellesskabet/faellesspisning/"
			title="Om fællesspisning i bofællesskabet">fællesspisningen</a
		> og andre fælles aktiviteter, som <a
			href="/faellesskabet/traditioner/"
			title="Læs mere om bofællesskabets traditioner"
			>Væksthusets fester og arrangementer</a
		>. Der er der udover mulighed for at spille bordfodbold, bordtennis,
		spille musik, have overnattende gæster, holde fest og se tv (stor
		pakke).
	</p>
</DefaultPageLayout>
