---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";

import { Image } from "astro:assets";
import image from "../assets/logo.png";

const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="da">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <div class="page">
      <header>
        <div class="container">
          <Image src={image} alt="" loading={"eager"} class="logo" />
        </div>
        <div class="navigation">
          <div class="container">
            <Navigation />
          </div>
        </div>
      </header>
      <main>
        <div class="container">
          <slot />
        </div>
      </main>
      <footer>
        <div class="container">
          <address>
            <strong>Kontakt</strong>: Andelsboligforeningen Væksthuset •
            Engskovvej 2 • 8541 Skødstrup • kontakt@bf-vaeksthuset.dk
          </address>
        </div>
      </footer>
    </div>
  </body>
</html>

<style>
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  main {
    flex: 1;
    padding-block: 2rem;
    line-height: 1.33;
  }

  .logo {
    margin-block: 1rem;
  }

  .container {
    margin: 0 auto;
    width: min(calc(92ch + 2rem), 100%);
    padding-inline: 2rem;
  }

  .container:has(.navigation),
  .navigation .container {
    padding-inline: 1rem;
  }

  .navigation {
    background-color: #1576c9;
    background-image: linear-gradient(#005094, #1576c9);
  }

  header {
    background: #79a0e5;
  }

  footer {
    color: #66d866;
    background-color: #060;
    padding-block: 1rem;
  }

  address {
    text-align: center;
  }
</style>
