---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";

import { Image } from "astro:assets";
import image from "../assets/logo.png";

const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="da">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <div class="container">
      <Image src={image} alt="" loading={"eager"} />
    </div>
    <div class="container page-layout">
      <Navigation />
      <main>
        <slot />
      </main>
    </div>
    <footer>
      <div class="container">
        <address>
          <strong>Kontakt</strong>: Andelsboligforeningen Væksthuset •
          Engskovvej 2 • 8541 Skødstrup • kontakt@bf-vaeksthuset.dk
        </address>
      </div>
    </footer>
  </body>
</html>

<style>
  /* main {
    margin: 0 auto;
    width: min(65ch, 100%);
    padding-inline: 2rem;
  } */

  .page-layout {
    /* display: flex; */
    flex-direction: row;
  }

  .container {
    margin: 0 auto;
    width: min(calc(92ch + 2rem), 100%);
    padding-inline: 2rem;
  }

  footer {
    color: #66d866;
    background-color: #060;
    padding-block: 1rem;
  }

  address {
    text-align: center;
  }
</style>
